<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Matisu</string>
	<key>items</key>
	<array>
			<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>注销设备</string>
			<key>action</key>
			<string>respringDevice</string>
			<key>target</key>
			<string>PSController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>重启设备</string>
			<key>action</key>
			<string>rebootDevice</string>
			<key>target</key>
			<string>PSController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>禁用小白点</string>
			<key>action</key>
			<string>disableAssistiveTouch</string>
			<key>postAction</key>
			<string>respringDevice</string>
			<key>target</key>
			<string>PSController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>恢复小白点</string>
			<key>action</key>
			<string>enableAssistiveTouch</string>
			<key>postAction</key>
			<string>respringDevice</string>
			<key>target</key>
			<string>PSController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>设备信息</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>应用版本</string>
			<key>id</key>
			<string>AppVersion</string>
			<key>get</key>
			<string>appVersionValue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>设备名称</string>
			<key>id</key>
			<string>DeviceName</string>
			<key>get</key>
			<string>deviceNameValue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>系统版本</string>
			<key>id</key>
			<string>SystemVersion</string>
			<key>get</key>
			<string>systemVersionValue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>设备型号</string>
			<key>id</key>
			<string>DeviceModel</string>
			<key>get</key>
			<string>deviceModelValue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>局域网IP</string>
			<key>id</key>
			<string>DeviceIP</string>
			<key>get</key>
			<string>deviceIPValue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>存储空间</string>
			<key>id</key>
			<string>StorageSpace</string>
			<key>get</key>
			<string>storageSpaceValue</string>
		</dict>
	</array>
</dict>
</plist>
